* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  /* width: 1500px; */
  width: 90%;
  min-width: 500px;
  background-color: #f0f2f5;
}

.f-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
}

.color {
  background: white;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0, 0, 0, 0.35);
  width: 410px;
  height: 312px;
}
.form1 {
  position: absolute;
  left: 845px;
  top: 120px;
  padding: 10px 5px 24px 5px;
  border-radius: 5px;
  /* padding-top: 10px; */
}

.form-style {
  padding-top: 4px;
}
.align {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 880px;
  top: 465px;
  width: 360px;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  display: block;

  background-color: #ffffff;

  margin: 10px 10px 0px 10px;
  border: 1.5px solid rgb(200, 200, 200);
  width: 340px;
  border-radius: 4px;
  /* text-align: center; */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 10px 30px 10px 15px;
}

.login {
  border: none;
  background-color: #1877f2;
  color: white;
  margin: auto;
  width: 380px;
  display: block;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.new {
  border: none;
  background-color: #42b72a;
  color: white;
  margin: auto;
  width: 195px;
  display: block;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 108px;
  margin-bottom: 20px;
}

.pws {
  color: #1877f2;
  display: block;
  align-items: center;
  width: 200px;
  margin: auto;
  padding-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.line {
  border-top: 1px solid #222;
  opacity: 0.2;
  margin-top: 10px;
}

.f-line {
  position: absolute;
  top: 280px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 425px;
  margin-left: 250px;
}

.img {
  position: absolute;
  top: 165px;
  left: 250px;
}

/* footer  */

footer {
  padding: 10px;
  align-items: flex-end;
  position: absolute;
  top: 650px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  background: white;
  width: 1499px;
  word-spacing: 1px;
  display: inline-block;
  justify-content: center;
}
ul {
  list-style: none;
  margin-top: 10px;
}

li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 8px;
  color: grey;
}

li {
  float: left;
}

.divide-line {
  border-top: 1px solid #222;
  opacity: 0.2;
  margin-top: 5px;
  width: 900px;
  margin-left: 7px;
}

.width {
  width: 900px;
  align-items: center;
  align-content: center;
  margin-left: 250px;
  line-height: 7px;
}
.edit-button {
  padding: 0 8px;
  margin-top: 2px;
}

a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

.change a:visited {
  color: black;
}
/* @media (max-width: 980px) {
  body {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .footer {
    display: none;
  }
  .form1 {
    display: flexbox;
    left: 240px;
    top: 380px;
    background-color: #f0f2f5;
    border-radius: none;
    box-shadow: none;
  }
  .img {
    height: auto;
    width: 150px;

    position: ;
  }
} */
